<aside class="admin-sidebar">
    <div class="row">
      <div class="col-sm-12">
          <h4 class="admin-page-title">Administrator Panel</h4>
          <hr>
          <a ui-sref="home" class='center-block' style="text-align: center;">Return to Home</a>
      </div>
      <div class="col-sm-12">
        <ul>
          <li><a ui-sref="managejobs" title="">Manage Job Listings</a></li>
          <li><a ui-sref="events" title="">Manage Events Listings</a></li>
        </ul>
      </div>
    </div>
</aside>
