
      <div class="col-sm-10 selector">
        <uib-tabset active="activePill" type="pills">
          <uib-tab index="0" heading="Uploaded CVs/Resumes">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cv in admin.cvRecords track by $index" class="cv-listings">
                    <td>{{ cv.name }}</td>
                    <td>{{ cv.filename }}</td>
                    <td>12th June, 2016</td>
                    <td><a href="http://www.whitebridgeconsult.com/public/cv_uploads/{{ cv.filename }}"><span class="fa fa-download fa-lg"></span></a><a href="#" title=""><span class="fa fa-remove fa-lg"></span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>


          </uib-tab>
          
        </uib-tabset>

      </div>


