<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button btn-block" class="close pull-left" ng-click="$hide()">&times;</button>
      </div>
      <div class="aside-body">
        <ul class="nav-links">
          <li class="nav-item">
            <a class="nav-link" ui-sref="home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" ui-sref="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="blog">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!--<div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>-->
    </div>
  </div>
</div>