// Home-page landing viewport wrap 
.landing-wrap{
  width: 100%;
  height: 100vh;
  // background: url("../assets/images/professional-business-woman.jpg") no-repeat;
  // background-size: cover;
  box-shadow: inset 0 100vh rgba(#000, 0.4);
  overflow: hidden;
  & .container-fluid{
    box-shadow: inset 0 12vh 80px rgba(#000, 0.1);
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }

  @include media("<768px"){
    background: url("../assets/images/professional-business-woman.jpg") center center no-repeat;
  }
}

.vegas{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
  overflow: hidden;
 // .vegas-container{
 //    height: 100vh !important;
 //    position: absolute !important;
 //  }
}

// body .vegas-container{
//   position: absolute !important;
// }


// Top Navigation General Styles
%top-navigation{
  width: 100%;
  height: auto;
  padding: 20px 50px 10px 50px;

  & .brand{
    font-size: 200%;
    font-family: 'ralewaybold';
    img{
      max-width: 5rem;
      display: inline-block;
    }
  }

  & .nav-links{
    margin-top: 0.6rem;
    & a{
      margin-right: 0.5rem;
      font-family: 'ralewaybold';
      transition: all 0.2s ease;
    }
  }

  & .nav-item{
    display: inline-block;
    margin-right: 20px;
  }

  & .nav-link{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }

  @include media("<768px"){
    padding: 20px 20px 10px 20px;
    & .brand{
      font-size: 120%;
      img{
        max-width: 3rem;
      }
    }
    & .nav-links{
      display: none;
    }
  }
}

// Home-page Navigation Styling
.custom-nav{
  @extend %top-navigation;
  position: absolute;
  z-index: 5;
  top: 0;
  & .brand{
    color: #fff;
    & a{
      color: #fff;
    }
    &:hover{
      color:#fff;
      text-decoration: none;
    }
    &:active{
      color:#fff;
      text-decoration: none;
    }
    &:focus{
      color:#fff;
      text-decoration: none;
    }
  }

  & .nav-links{
    & a{
      color: $white;
      &:hover{
        color: $brand-color6;
      }
    }

    & li[class*="active"]{
      & a{
          color: $brand-color6;
      }
    }
  }
}

// Other Pages Navigation Styling
.custom-nav-alt{
  @extend %top-navigation;
  background-color: $white;
  border-bottom: thin solid rgba($black, 0.2);
  & .brand{
    color: $brand-color1;
    img{
      color: $brand-color1;
    }
    & a{
      color: $brand-color1;
    }
    &:hover{
      color:$brand-color1;
      text-decoration: none;
    }
  }

  & .nav-links{
    & a{
      color: $brand-color1;
      &:hover{
        color: $brand-color6;
      }
    }

    & li[class*="active"]{
      & a{
          color: $brand-color6;
      }
    }
  }
}

// Home-page landing content
.landing-content{
  margin-top: 20%;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 50px;
  & h1{
    font-family: 'ralewaybold';
    font-size: ms(5);
    margin: 0 0 10px 0;
    line-height: 50px;
  }
  & p{
    font-family: 'ralewayregular';
    font-size: ms(0);
    margin: 0 0 20px 0;
  }

  @include media(">1280px"){
    margin-top: 15%;
    h1{
      font-size: ms(6);
    }
    p{
      font-size: ms(1);
    }
  }
}

.landing-bottom-bar{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  background-color: rgba($brand-color1, 0.9);
  bottom: 0;
  color: $white;
  padding: 20px 3rem;
  & h4{
    font-family: 'ralewaybold';
    vertical-align: middle;
    & i{
      margin-right: 10px;
    }
    & span{
      color: $brand-color6;
    }
  }
  & .livechat{
    cursor: pointer;
    &:hover{
      @include pulse(
        $duration: 1s,
        $count: 2,
        $delay: .2s,
        $function: ease
      );
    }   
  }
}


// Featurette Block
.featurette-block{
  & .heading{
      font-weight: 300;
      line-height: 1;
      letter-spacing: -.05rem;
      font-size: ms(3);
      font-family: 'ralewaybold';
  }

  & p.lead{
      font-size: ms(0);
      font-family: 'ralewayregular';
  }
}

// Home-page Section 1 
.section-1{
  padding: 3.5rem 0;
  padding-top: 3rem;
  & .col-lg-4 {
    //margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
    margin-top: 1.5rem;
  }
  & p {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'ralewayregular';
    font-size: ms(0);
  }
  & a.btn{
    margin-top: 1rem;
  }
}

// Home-page Section 2
.section-2{
  padding: 3.5rem 0;
  text-align: center;
  background: url('https://www.performdev.com/wp-content/uploads/2016/01/running-corporate-learning.jpg') no-repeat;
  background-size: cover;
  height: 350px;
  overflow: hidden;
  color: $white;
  & .heading{
    margin-top: 3rem;
  }
  & p.lead{
    padding-left: 50px;
    padding-right: 50px;
  }
  & a{
    color: $white;
    &:hover{
      color: $white;
    }
  }
  & .alpha-overlay{
    position: absolute;
    margin-top: -3.5rem;
    width: 100%;
    height: 350px;
    display: block;
    //z-index: 5;
    background-color: rgba($brand-color1, 0.7);
  }
}

// Home-page Section 3
.section-3{
  padding: 3.5rem 0;
  background-color: $brand-color4;
}


// about-page Section 1 
.about-section-1{
  height: 400px;
  padding-left: 50px;
  //padding-right: 50px;
  border-bottom: thin solid rgba($black, 0.1);
  overflow: hidden;
  //background: linear-gradient(0deg, rgba($brand-color4, 0.5), $white);
  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
    margin-top: 3.5rem;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
    line-height: 24px;
  }
  & a.btn{
    margin-top: 1rem;
  }
  & img{
    position: absolute;
    width: 800px;
    //z-index: -1;
  }

  & .vertical-nav-skewed{
    @include parallelogram(800px, 400px, 15deg, rgba($brand-color1, 0.4));
    position: absolute;
    z-index: 2;
  }
}


// about-page Section 2
.about-section-2{
  padding: 3.5rem 50px;
  span{
    font-size: ms(3);
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $brand-color1;
  }
  & h4 {
    font-weight: normal;
    font-size: ms(2);
    font-family: 'ralewaybold';
    text-align: center;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
    text-align: center;
  }
  & ul{
    list-style: none;
    display: block;
    margin-left: 40%;
    padding-left: 0;
  }
}


// services-page Section 1 
.service-section-1{
  height: auto;
  padding: 0 50px 3.5rem 50px;
  border-bottom: thin solid rgba($black, 0.1);
  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
  }
}


// Services-page section 2
.service-section-2{
  height: auto;
  border-bottom: thin solid rgba($black, 0.1);
  & .col-md-6{
    text-align: center;
  }
  & h4 {
    font-weight: normal;
    font-size: ms(2);
    font-family: 'ralewaybold';
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
  }

  & .padded{
    padding: 1rem 50px;
  }

  & img{
    display: block;
    width: 100px;
    margin: 0 auto 20px auto;
  }

  & .col-md-12{
    & h4{
      margin-bottom: 20px;
    }
  }
  @include media(">1280px"){
    & .padded{
      padding: 1.5rem 50px;
    }
  }
}

// Angular Map Styles
.angular-google-map-container { height: 400px; }


// Contact page section
.contact-section{
  height: auto;
  padding: 0 50px 3.5rem 50px;
  border-bottom: thin solid rgba($black, 0.1);
  & h2, h4 {
    font-weight: normal;
    font-family: 'ralewaybold';
  }

  & h2{
    font-size: ms(3);
  }

  & h4{
    font-size: ms(1);
    margin-bottom: 40px;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
  }
}





// footer
.upper-footer, .bottom-footer{
  padding-top: 2%;
  padding-bottom: 2%;
  color: darken($white, 10%);
  line-height: ms(2);
  & h4{
    font-family: 'ralewaybold';
    font-size: ms(2);
  }

  & p, a{
    font-family: 'ralewayregular';
    font-size: 13.5px;
    color: $white;
  }

  & a{
    transition: all 0.2s ease;
    &:hover{
      color: $brand-color3;
      text-decoration: none;
    }
  }
  & ul{
    list-style: none;
    padding-left: 0;
    //line-height: ms(2);
  }

  & hr{
    border-color: lighten($brand-color1, 10%);

  }

  & i{
    display: inline;
    margin-right: 20px;
    color:$white;
    transition: all 0.2s ease-in;
    &[class*="fa-facebook-official"]{
      &:hover, &:focus, &:active{
        color: #3c5a98;
      }
    }

    &[class*="fa-twitter"]{
      &:hover, &:focus, &:active{
        color: #55acee;
      }
    }

    &[class*="fa-linkedin"]{
      &:hover, &:focus, &:active{
        color: #006699;
      }
    }
  }

  & .social{
     & a{
        text-decoration: none;
        color: $white;
        &:hover, &:focus, &:active{
          text-decoration: none;
          color: none;
        }
     }
  }
}

.upper-footer{
  background-color: $brand-color1;
}

.bottom-footer{
  background-color: darken($brand-color1, 2%);
}





