// top-bar
  .top-bar{
    width: 100%;
    height: 6vh;
    padding: 15px 50px 0 50px;
    background-color: #F16228; //$brand-color1;
    color: $white;
    font-size: ms(0);
    & .col-sm-12{
      padding-left: 0;
      padding-right: 0;
    }
  }

// Home-page landing viewport wrap 
.landing-wrap{
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 100vh rgba(#000, 0.4);
  overflow: hidden;
  & .container-fluid{
    box-shadow: inset 0 12vh 80px rgba(#000, 0.1);
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }

  @include media("<768px"){
    background: url("../assets/images/professional-business-woman.jpg") center center no-repeat;
  }
}

.vegas{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

// Top Navigation General Styles
%top-navigation{
  width: 100%;
  height: auto;
  padding: 20px 50px 10px 50px;

  & .brand{
    font-size: 200%;
    font-family: 'ralewaybold';
    img{
      max-width: 4rem;
      display: inline-block;
      margin-top: -20px;
    }
  }

  & .nav-links{
    margin-top: 0.6rem;
    & a{
      margin-right: 0.5rem;
      font-family: 'ralewaybold';
      transition: all 0.2s ease;
    }
  }

  & .nav-item{
    display: inline-block;
    margin-left: 20px;
    &:last-of-type{
      margin-right: 0;
      & a.nav-link{
        margin-right: 0;
      }
    }
  }

  & .nav-link{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }

  @include media("<768px"){
    padding: 20px 20px 10px 20px;
    & .brand{
      font-size: 120%;
      img{
        max-width: 3rem;
      }
    }
    & .nav-links{
      display: none;
    }
  }
}

// Home-page Navigation Styling
.custom-nav{
  @extend %top-navigation;
  position: absolute;
  z-index: 5;
  top: 0;
  & .brand{
    color: #fff;
    & a{
      color: #fff;
    }
    &:hover{
      color:#fff;
      text-decoration: none;
    }
    &:active{
      color:#fff;
      text-decoration: none;
    }
    &:focus{
      color:#fff;
      text-decoration: none;
    }
  }

  & .nav-links{
    & a{
      color: $white;
      &:hover{
        color: $brand-color6;
      }
    }

    & li[class*="active"]{
      & a{
          color: $brand-color6;
      }
    }
  }
}

// Other Pages Navigation Styling
.custom-nav-alt{
  @extend %top-navigation;
  position: fixed;
  z-index: 150;
  background-color: $white;
  border-bottom: thin solid rgba($black, 0.2);
  & .brand{
    color: $brand-color1;
    img{
      color: $brand-color1;
    }
    & a{
      color: $brand-color1;
    }
    &:hover{
      color:$brand-color1;
      text-decoration: none;
    }
  }

  & .nav-links{
    & a{
      color: $brand-color1;
      &:hover{
        color: $brand-color6;
      }
    }

    & li[class*="active"]{
      & a{
          color: $brand-color6;
      }
    }
  }
}

// Home-page landing content
.landing-content{
  margin-top: 25%;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 50px;
  & h1{
    font-family: 'ralewaybold';
    font-size: ms(5);
    margin: 0 0 10px 0;
    line-height: 50px;
  }
  & p{
    font-family: 'latolight';
    font-size: ms(0);
    margin: 20px 0 20px 0;
  }

  @include media(">1280px"){
    margin-top: 20%;
    h1{
      font-size: ms(6);
    }
    p{
      font-size: ms(1);
    }
  }
}

// Landing section bottom bar
.landing-bottom-bar{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  background-color: rgba($brand-color1, 0.9);
  bottom: 0;
  color: $white;
  padding: 20px 3rem;
  & h4{
    font-family: 'ralewaybold';
    vertical-align: middle;
    & i{
      margin-right: 10px;
    }
    & span{
      color: $brand-color6;
    }
  }
  & .livechat{
    cursor: pointer;
    &:hover{
      @include pulse(
        $duration: 1s,
        $count: 2,
        $delay: .2s,
        $function: ease
      );
    }   
  }
}


// Featurette Block
.featurette-block{
  & .heading{
      font-weight: 300;
      line-height: 1;
      letter-spacing: -.05rem;
      font-size: ms(3);
      font-family: 'ralewaybold';
  }

  & p.lead{
      font-size: ms(0);
      font-family: 'ralewayregular';
  }
}

// Home-page Section 1 
.section-1{
  padding: 3.5rem 0;
  padding-top: 3rem;
  & .col-lg-4 {
    //margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
    margin-top: 1.5rem;
  }
  & p {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'ralewayregular';
    font-size: ms(0);
  }
  & a.btn{
    margin-top: 1rem;
  }
}

// Home-page Section 2
.section-2{
  padding: 3.5rem 0;
  text-align: center;
  background: url('https://www.performdev.com/wp-content/uploads/2016/01/running-corporate-learning.jpg') no-repeat;
  background-size: cover;
  height: 350px;
  overflow: hidden;
  color: $white;
  & .heading{
    margin-top: 3rem;
  }
  & p.lead{
    padding-left: 50px;
    padding-right: 50px;
  }
  & a{
    color: $white;
    &:hover{
      color: $white;
    }
  }
  & .alpha-overlay{
    position: absolute;
    margin-top: -3.5rem;
    width: 100%;
    height: 350px;
    display: block;
    //z-index: 5;
    background-color: rgba($brand-color1, 0.7);
  }
}

// Home-page Section 3
.section-3{
  padding: 3.5rem 0;
  background-color: $brand-color4;
}    

// Page Title Styles
.page-title{
  height: 40vh;
  width: 100%;
  background-size: cover;
  box-shadow: inset 0 40vh rgba($brand-color1, 0.6);
  color: rgba($white, 0.7);
  padding-top: 20vh;
  transition: all 0.3s ease-in;
  & hr{
    width: 200px;
    margin-top: 10px;
    border: thin solid rgba($white, 0.7); 
    transition: width 0.3s ease-in;
  }
  & i{
    text-align: center;
    @include center-block;
  }
  & h2{
    text-align: center;
    @include center-block;
    font-family: 'ralewaythin';
    margin-top: 0;
    margin-bottom: 0;
    font-size: ms(3);
  }

  & .inner-wrap{
    min-width: 250px;
    max-width: 300px;
    padding: 20px;
    border: thin solid rgba($white, 0.7);
    @include center-block;
  }

  &:hover{
    color: $white;
    box-shadow: inset 0 40vh rgba($brand-color1, 0.8);
    & hr{
      width: 150px;
    }

    & .inner-wrap{
      border: thin solid $white;
    }    
  } 
}

.about-img-header{
  background: url('../assets/images/city-skyline3.jpg') no-repeat center center fixed;
}

.services-img-header{
  background: url('../assets/images/city-skyline1.jpg') no-repeat center center fixed;
}

// about-page Section 1 
.about-section-1{
  height: auto;
  padding: 5rem 0;
  & .intro-quote{
    font-family: 'gentium_book_basicitalic';
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
    //margin-top: 2rem;
    text-align: center;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
    // line-height: 24px;
    text-align: center;
    // margin-top: 2rem;
  }
  & a.btn{
    margin-top: 1rem;
  }

  & .image-wrap{
    width: auto;
    height: 500px;
    overflow-y: hidden;
  }

   & hr{
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: thin solid $brand-color1; //thin solid rgba($white, 0.7); 
    // transition: width 0.3s ease-in;
  }
}


// about-page Section 2
.about-section-2{
  background: url('../assets/images/city-skyline3.jpg') no-repeat center center fixed;
  box-shadow: inset 0 50vh rgba($brand-color1, 0.8);
  padding: 3.5rem 50px;
  color: $white;
  span{
    font-size: ms(3);
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $white;
  }
  & h4 {
    font-weight: normal;
    font-size: ms(2);
    font-family: 'ralewaybold';
    text-align: center;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
    text-align: center;
    text-shadow: 0px 0px 10px rgba($brand-color1, 0.9);
  }
  & ul{
    list-style: none;
    display: block;
    margin-left: 40%;
    padding-left: 0;
  }
}



// services-page Section 1 
.service-section-1{
  height: auto;
  padding: 4rem 0;
  & .intro-quote{
    font-family: 'gentium_book_basicitalic';
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
    color: $brand-color1;
  }

  & h2 {
    font-weight: normal;
    font-size: ms(3);
    font-family: 'ralewaybold';
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
    text-align: center;
  }
  & hr{
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: thin solid $brand-color1; //thin solid rgba($white, 0.7); 
  }

  @include media(">1280px"){
    padding: 5rem 0;

  }
}


// Services-page section 2
.service-section-2{
   height: auto;
 
  & hr.custom{
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: thin solid $brand-color1; //thin solid rgba($white, 0.7); 
  }

  
  .nav-tabs > li > a{
    font-family: 'ralewaybold';
    border-bottom: none;
    transition: all 0.2s ease;
    &:hover{
      background-color: $brand-color2;
      color:$white;
      border-bottom: none;
    }
  }
  .nav-tabs > li.active > a{
    color: $white;
    background-color: $brand-color1; //#5C86A5;
    border: thin solid $brand-color1; //#5C86A5;
    font-family: 'ralewaybold';
    &:active{
      border-bottom: thin solid $brand-color1; //#5C86A5;
    }
    &:hover{
      border-bottom: thin solid $brand-color1; //#5C86A5;
    }
  }
  .tab-content{

    background-color: $brand-color1; //#5C86A5;
    color: $white;
    padding: 20px 20px 40px 20px;
    min-height: 500px;
    margin-bottom: 2rem;
    text-align: center;
    & .overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2000;
    }
    & .intro-quote{
        font-family: 'gentium_book_basicitalic';
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
        color: $white;
    }
    & hr{
      width: 200px;
      margin: 2rem auto;
    }

    & .image-left{
      display: inline-block;
      width: 45%;
      height: 60vh;
      float: left;
      background: url('../assets/images/city-skyline1.jpg') no-repeat center center;
      background-size: cover;
      border: thick solid $white;
    }

    & .image-right{
      display: inline-block;
      width: 45%;
      height: 60vh;
      float: right;
      background: url('../assets/images/city-skyline1.jpg') no-repeat center center;
      background-size: cover;
      border: thick solid $white;
    }

    & .writeup-right{
      display: inline-block;
      float: right;
      width: 50%;
      height: auto;
    }

    & .writeup-left{
      display: inline-block;
      float: left;
      width: 50%;
      height: auto;
    }
  }

}

// Angular Map Styles
.angular-google-map-container { height: 400px; }


// Contact page section
.contact-section{
  height: auto;
  padding: 0 50px 3.5rem 50px;
  border-bottom: thin solid rgba($black, 0.1);
  & h2, h4 {
    font-weight: normal;
    font-family: 'ralewaybold';
  }

  & h2{
    font-size: ms(3);
  }

  & h4{
    font-size: ms(1);
    margin-bottom: 40px;
  }
  & p {
    font-family: 'ralewayregular';
    font-size: ms(0);
  }
}



//Listing Styles
.page-stretch{
  min-height: 50vh;
}
.listing-padding-fix{
  padding-top: 100px;
  width: 100%;
  height: auto;
  overflow: auto;
  // margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.listing-header{
  font-family: 'ralewayextrabold';
  margin: 2rem 0;
}

.full-listing{
  width: auto;
  height: auto;
  overflow: auto;
}



.listing-preview{
  background-color: #eee;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  &:hover{
    background-color: $brand-color6;
  }
}

.ng-hide-add{
  // transition: all 2s ease;
  @include fadeOut(
    $duration: 0s,
    $function: ease
  );
}

.ng-hide-add-remove{
  // transition: all 2s ease;
   @include fadeOut(
    $duration: 0s,
    $function: ease
  );
}

.ng-hide-add-active,
.ng-hide-remove-active {
  transition: all 0s ease;
}

.full-listing-details{
  padding-left: 20px;
  border-left: thick solid #eee;
  margin-bottom: 20px;
}

.job-title, .salary{
  font-family: 'ralewaybold';
}

.job-button{
  margin-top: 10px;
}

.side-info-panel{
  padding: 20px;
  width: auto;
  height: auto;
  overflow: auto;
  color: $white;
  border-radius: 6px;
  background-color: $brand-color2;
  & h4{
    font-family: 'ralewaybold';
  }
  & .email{
    font-family: 'ralewaybold';
    text-transform: italic;
  }
}



// footer
.upper-footer, .bottom-footer{
  // padding-top: 2%;
  // padding-bottom: 2%;
  padding: 2% 50px;
  color: darken($white, 10%);
  line-height: ms(2);
  & h4{
    font-family: 'ralewaybold';
    font-size: ms(2);
  }

  & p, a{
    font-family: 'ralewayregular';
    font-size: 13.5px;
    color: $white;
  }

  & a{
    transition: all 0.2s ease;
    &:hover{
      color: $brand-color3;
      text-decoration: none;
    }
  }
  & ul{
    list-style: none;
    padding-left: 0;
    //line-height: ms(2);
  }

  & hr{
    border-color: lighten($brand-color1, 10%);

  }

  & i{
    display: inline;
    margin-right: 20px;
    color:$white;
    transition: all 0.2s ease-in;
    &[class*="fa-facebook-official"]{
      &:hover, &:focus, &:active{
        color: #3c5a98;
      }
    }

    &[class*="fa-twitter"]{
      &:hover, &:focus, &:active{
        color: #55acee;
      }
    }

    &[class*="fa-linkedin"]{
      &:hover, &:focus, &:active{
        color: #006699;
      }
    }
  }

  & .social{
     & a{
        text-decoration: none;
        color: $white;
        &:hover, &:focus, &:active{
          text-decoration: none;
          color: none;
        }
     }
  }
}

.upper-footer{
  background-color: $brand-color1;
}

.bottom-footer{
  background-color: darken($brand-color1, 2%);
}



//Admin Login Form
.login-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


//Administrator Panel Styles
.admin-sidebar{
  height: auto;
  min-height: 100vh;
  background-color: $brand-color1;
  color: $white;
  & .admin-page-title{
    font-family: 'ralewayextrabold';
    //text-align: center;
    margin: 20px 0 0 0;
  }
  & hr{
    border: none;
    border-top: thin solid rgba($white, 0.1);
  }

  & ul{
    list-style: none;
    padding-left: 0;
    margin: 20px 0 auto 0;
    display: block;
    line-height: ms(3);
    & li a{
      color: $white;
      font-family: 'ralewaybold';
      display: block;
      font-size: 14px;
      transition: color 0.2s ease;
      &:hover{
        text-decoration: none;
        color: $brand-color6;
      }
      &:active{
        text-decoration: none;
        color: $brand-color6;
      }
      &:focus{
        text-decoration: none;
        color: $brand-color6;
      }
    }

    & span{
      margin-right: 10px;
    }
  }
}
.admin-content{
  & .selector{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & ul.nav{
    background-color: $brand-color2;
    margin-bottom: 20px;
    & li:hover{
      background-color: $brand-color1;
    }
    & li a{
      border-radius: 0px;
      font-family: 'ralewaybold';
      color: $white;
      &:active{
        color:$brand-color6;
      }
      &:focus{
        color:$brand-color6;
      }
      &:hover{
        color:$brand-color6;
        background-color: $brand-color2;
      }
    }
  }

  & legend{
    font-family: 'ralewaybold';
  }

  & .job-edit-list{
    list-style: none;
    padding-left: 0;
    & li{
      // width: 100%;
      @include clearfix;
      border: thin solid lighten($black, 80%);
      padding: 10px 0 10px 10px;
      transition: all 0.3s ease;
      margin-bottom: 5px;
      &:hover{
        background-color: $brand-color4;
        cursor: pointer;
        border: $brand-color4;
      }
      & a{
        text-decoration: none;
        font-family: 'ralewaybold';
        &:hover{
          color: $white;
        }
      }
      & button{
        margin-right: 20px;
      }
    }
  }
}








