<!-- <div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-left"><i class="fa fa-phone fa-lg animated pulse infinite"></i>Call Us today @ <span>08037492675</span></p>
        <p class="pull-right livechat"><i class="fa fa-comments-o fa-lg"></i> Live Chat</p>
      </div>
    </div>
  </div>
</div> --><!-- /top-bar -->
<header class="custom-nav-alt">
  <a class="brand" href="#">
    <img src="assets/images/wblogo.svg" alt="">
    Whitebridge Consulting
  </a>
  <ul class="nav-links pull-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="services">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="jobs">jobs</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" ui-sref="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact Us</a>
    </li>
  </ul>
</header>

  <div class="listing-padding-fix">
    <section class="featurette-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="listing-header">Upcoming Events</h1>
            <!-- <hr> -->
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section class="featurette-block full-listing" ng-repeat="event in main.eventData">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
              <h4 class="job-title">{{ event.title }}</h4>
              <p class="job-description">{{ event.description }}</p>
              <p class="qualifications">{{ event.location }}</p>
              <p class="experience">{{ event.date }}</p>
              <p class="salary">&#8358; {{ event.fee }}</p>
              <button type="button" class="btn btn-lg brand-btn-success jobButton">Register for Event</button>
          </div>
        </div>
      </div>
      
    </section>
  </div><!-- /.listing-padding-fix -->



<div class="upper-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h4>Whitebridge Consulting</h4>
        <hr>
        <p>Whitebridge Global Consulting Ltd is duly registered to undertake the functions of Human Resource Consulting. </p>
      </div>
      <div class="col-sm-2 col-md-offset-2">
        <h4>About</h4>
        <ul>
          <li><a href="#/about-us" title="">About Us</a></li>
          <li><a href="#/about-us" title="">Our Team</a></li>
          <li><a href="#/our-services" title="">Our Services</a></li>
          <li><a href="#" title="">Company Blog</a></li>
          <li><a href="#" title="">Careers</a></li>
        </ul>
      </div>  
      <div class="col-sm-3">
        <h4>Contact</h4>
        <ul>
          <li><a href="#" title="">Sign Up for a Job alert</a></li>
          <li><a href="mailto:info@whitebridgeconsult.com" title="">info@whitebridgeconsult.com</a></li>
          <li><a href="mailto:recruitment@whitebridgeconsult.com" title="">recruitment@whitebridgeconsult.com</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Let's Relate</h4>
        <a href="https://www.facebook.com/whiteBridgeconsulting" title=""><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://twitter.com/bridgingHR" title=""><i class="fa fa-twitter  fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/whitebridge-consulting-6b7653b7" title=""><i class="fa fa-linkedin  fa-2x"></i></a>
      </div>           
    </div><!-- End of row -->  
  </div><!-- End of container -->
</div><!-- End of upper-footer -->
<div class="bottom-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>Copyright &copy; 2016. Whitebridge Consulting </p>
      </div>        
    </div> 
  </div>
</div>