<header class="custom-nav-alt">
  <a class="brand" href="#">
    <img src="assets/images/wblogo.svg" alt="">
    Whitebridge Consulting
  </a>
  <ul class="nav-links pull-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="services">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="jobs">jobs</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" ui-sref="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact Us</a>
    </li>
  </ul>
</header>

  <div class="listing-padding-fix">
    <section class="featurette-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="listing-header">Upcoming Events</h1>
            <hr>
          </div>
        </div>
      </div>
    </section>
    <!-- <hr> -->
    <section class="featurette-block page-stretch">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
              <div class="full-listing" ng-repeat="event in main.events track by $index">
                <div class="listing-preview" ng-hide="main.hidden == $index" ng-click="main.hidden = $index">
                  <h4 class="job-title pull-left">{{ event.title}}</h4>
                  <h4 class="salary pull-right">{{ event.location }}</h4>
                </div>
                <div class="full-listing-details clearfix" ng-show="main.hidden == $index" ng-click="main.hidden = undefined">
                  <h4 class="job-title">{{ event.title }}</h4>
                  <!-- <hr> -->
                  <p class="item-label">Event Details</p>
                  <p class="job-description">{{ event.description }}</p>
                  <p class="item-label">Location</p>
                  <p class="qualifications">{{ event.location }}</p>
                  <p class="item-label">Date</p>
                  <p class="experience">{{ event.date }}</p>
                  <p class="item-label">Fee</p>
                  <p class="salary">&#8358; {{ event.fee }}</p>
                  <button type="button" class="btn btn-lg brand-btn-success pull-right job-button" ng-click="$event.stopPropagation(); main.openEventForm();">Register for Event</button>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="side-info-panel">
              <h4>Questions?</h4>
              <p>Have questions or looking to list an event? contact us at:</p>
              <p class="email">recruitment@whitebridgeconsult.com</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div><!-- /.listing-padding-fix -->
<div global-footer></div>
