<header class="custom-nav-alt">
  <a class="brand" ui-sref="home">
    <img src="assets/images/wblogo.svg" alt="">
    <span class="hidden-xs">Whitebridge Consulting</span>
  </a>
  <ul class="nav-links pull-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="services">Our Services</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" ui-sref="jobs">jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="blog">Insights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact Us</a>
    </li>
  </ul>
  <button type="button" class="navbar-toggle collapsed" data-template-url="app/components/aside/aside.template.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button> 
</header>

  <div class="listing-padding-fix">
    <section class="featurette-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="listing-header">Job Listings</h1>
            <hr>
          </div>
        </div>
      </div>
    </section>
  <!--   <hr> -->
    <section class="featurette-block page-stretch">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
              <div class="full-listing" ng-repeat="job in main.jobs track by $index">
                <div class="listing-preview" ng-hide="main.hidden == $index" ng-click="main.hidden = $index">
                  <h4 class="job-title">{{ job.title}}</h4>
                  <h4 class="salary">{{ job.salary }}</h4>
                </div>
                <div class="full-listing-details clearfix" ng-show="main.hidden == $index" ng-click="main.hidden = undefined">
                  <h4 class="job-title no-float">{{ job.title }}</h4>
                  <!-- <hr> -->
                  <p class="item-label">Job Description</p>
                  <p class="job-description" ng-bind-html="job.description"></p>
                  <p class="item-label">Required Qualifications</p>
                  <p class="qualifications">{{ job.qualifications }}</p>
                  <p class="item-label">Minimum Years of Experience</p>
                  <p class="experience">{{ job.experience }}</p>
                  <p class="item-label">Salary Offered</p>
                  <p class="salary no-float">{{ job.salary }}</p>
                  <button type="button" class="btn btn-lg brand-btn-success pull-right job-button" ng-click="$event.stopPropagation(); main.openJobForm();">Apply for Job</button>
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="resume-upload">
                <h4>Get notified on job matches today!</h4>
                <p>Upload your Resume here</p>
                <form>
                  <div class="form-group">
                    <!-- <label for="name" style="text-align: center; display: block;">Name</label> -->
                    <input type="text" class="form-control" id="fullname" placeholder="Enter your Full Name Here" ng-model="main.cvName">
                  </div>
                  <button class="btn btn-lg brand-btn-success btn-block" type="file" ngf-select="main.uploadFiles($file, $invalidFiles)" accept="text/*" ngf-max-size="5MB">
                  Click to Upload
                  </button>
                </form>
                
                <br>
                <span class="progress" ng-show="main.dynamic >= 0">
                    <div style="width:{{main.dynamic}}%"  
                         ng-bind="main.dynamic + '%'"></div>
                </span>
                <div style="color: #fff; text-align: center; display: block; font-weight: bold;" ng-show="main.successMsg != false "><p>{{ main.successMsg }}</p></div>
            </div>
            <div class="side-info-panel">
              <h4>Questions?</h4>
              <p>Have questions or looking to recruit? contact us at:</p>
              <p class="email">recruitment@whitebridgeconsultng.com</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div><!-- listing-padding-fix -->
<div global-footer></div>
