<!-- <div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-left"><i class="fa fa-phone fa-lg animated pulse infinite"></i>Call Us today @ <span>08037492675</span></p>
        <p class="pull-right livechat"><i class="fa fa-comments-o fa-lg"></i> Live Chat</p>
      </div>
    </div>
  </div>
</div> --><!-- /top-bar -->
<header class="custom-nav-alt">
  <a class="brand" href="#">
    <img src="assets/images/wblogo.svg" alt="">
    Whitebridge Consulting
  </a>
  <ul class="nav-links pull-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About Us</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" ui-sref="services">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="jobs">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact Us</a>
    </li>
  </ul>
</header>
<div class="page-title services-img-header">
  <div class="inner-wrap">
    <h2>Our Services</h2>
  </div>
  
  <!-- <hr> -->
</div>

<section class="service-section-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <h2 class="intro-quote">"No business can grow beyond the competencies of its workforce"</h2>
        <hr>
        <p>At Whitebridge, we focus on rendering various Human Resource services with the view to adding measurable value to organizations. Our team comprises of licensed and experienced Human Resource professionals who are passionate about organizational development through the appropriate application of Human Resource policies, strategies and programs.</p>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div>
</section>
<!-- <hr> -->
<section class="service-section-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
      <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Recruitment &amp; Outsourcing Services" select="main.showTabContent(0)">
          <div class="tab-content">
            <!-- <img src="assets/images/business-people1.jpg" alt="" class="img-circle"> -->
            <!-- <div class="overlay"></div> -->
            <div class="image-left rps-img"></div>
            <div class="writeup-right">           
              <h2 class="intro-quote">"You are only as good as the people you hire"</h2>

              <hr>

              <p>An organization is only as good as her people and this translates to the quality of it’s outputs and achievements. As such, we’re in the business of identifying and recruiting competent professionals that will drive the success of your organization.</p> 

              <p>Through proper Job analysis and specification, we align organizations with the best people at a competitive industry remuneration. We are aware that if we get it right at the recruitment level, every other function of Human Resource will run smoothly.</p>

              <p>We also specialize in outsourcing competent personnel of different cadre, skills and qualifications to assist organizations in achieving their aims and objectives. Our personnel are highly trained, motivated and experienced to hit the ground running in every sector.</p>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Employee Performance Management" select="main.showTabContent(1)">
          <div class="tab-content">
            <div class="image-right epm-img"></div>
            <div class="writeup-left">
              <h2 class="intro-quote">"The growth of an organization depends totally on the efficiency of its employees"</h2>
              <hr>
              <p>An organization is successful when her people have the capacity and diligence to meet goals and objectives. We also understand that a times, there might be challenges faced by employees that lead to in-efficiency and poor performance. That’s why our Performance Management solution seeks to address this challenges.</p>

              <p>At Whitebridge , we appraise, monitor and improve employee’s performance in line with  organizational goals. Our professional and results-oriented reports are some of the reasons why our services are sought after by organizations today.</p>

              <p>In undertaking this function, we are highly focused on improved productivity and increased profitability delivered by competent employees. After all, the growth of an organization depends totally on the efficiency of its employees.</p>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="Corporate Learning &amp; Development" select="main.showTabContent(2)">
          <div class="tab-content">
            <div class="image-left cld-img"></div>
            <div class="writeup-right">
              <h2 class="intro-quote">"No business can grow beyond the competencies of its workforce"</h2>
              <hr>
              <p>The practice of Human Resource is constantly evolving in line with trends and organisational demands. That’s why, Whitebridge specialises in training employees and ensuring that they learn and develop the required skills needed for the modern day workplace and its challenges.</p>

              <p>Our services are designed to add measurable value to our client’s bottom line. Our seasoned professionals are positioned to transfer knowledge and the know-how in a friendly environment using modern technologies and facilities.</p>

              <p>In order to achieve the goals of empowering employees and their organizations alike, we conduct learning and development analysis before offering our training solutions. This helps us understand the knowledge gap that needs to be bridged, the required expertise to create a positive return and the growth our clients cherish.</p>
            </div> 
          </div>
        </uib-tab>
      </uib-tabset>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<div global-footer></div>