<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-left"><i class="fa fa-phone fa-lg animated pulse infinite"></i>Call Us today @ <span>08037492675</span></p>
        <p class="pull-right livechat"><i class="fa fa-comments-o fa-lg"></i> Live Chat</p>
        <!-- <h4 class="pull-right"><i class="fa fa-facebook-official fa-lg"></i></h4> -->
      </div>
    </div>
  </div>
</div><!-- /top-bar -->
<header class="custom-nav-alt">
  <a class="brand" href="#">
    <img src="assets/images/wblogo.svg" alt="">
    Whitebridge Consulting
  </a>
  <ul class="nav-links pull-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About Us</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" ui-sref="services">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="jobs">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact Us</a>
    </li>
  </ul>
</header>


<section class="featurette-block service-section-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 page-header">
      	<h2>Our Services</h2>
      </div>
      
      <div class="col-md-6">
        <p>Whitebridge Consulting seeks to bridge the manpower supply, efficiency &amp; knowledge gaps in organizations with a view to helping organizations achieve set goals &amp; objectives. Whitebridge specialises on Human Resource consulting which involves helping organisations attract, acquire, develop &amp; retain qualified workforce in the right balance at all times. This it achieves through:</p>
        <ul>
          <li>Human Resource Structuring/Restructuring</li>
          <li>Corporate Learning &amp; Development</li>
          <li>Manpower Planning &amp; Audit</li>
          <li>Recruitment &amp; Outsourcing</li>
        </ul>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
      	<p>The company is positioned to render these services to small, medium &amp; large scale organizations. The firm is a private limited liability company with corporate office in Uyo, Akwa Ibom state. Whitebridge Consulting is licensed &amp; managed by experienced &amp; chartered human resource professionals who are passionate about organizational development through appropriate application of Human Resource policies, strategies &amp; programs.</p>

        <p>Whitebridge consulting to become an internationally recognized Human Resource consulting firm through consistent &amp; continuous personal &amp; organisational development ventures. The whole aims &amp; objectives of organizations are anchored on working with the right &amp; motivated employees. Come on board, let's develop your people &amp; grow your organization together. click any of our services below for more details:</p>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div>
</section>

<section class="featurette-block service-section-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="padded">
          <img src="assets/images/corporate-restructuring.svg" alt="">
          <h4>HR Structuring / Restructuring </h4>
          <p>Entrepreneurs are usually only concerned with other factors of production &amp; their business interest, ignoring the personnel aspect. They are mostly unconcerned about how people are sourced, managed &amp; maintained for the survival &amp; growth of the business.</p>
          <p>Human resource structuring is the process of setting up structures &amp; control measures for people management in an organization. It involves developing policies, procedures &amp; processes that would be used to acquire, reward, maintain, retain &amp; exit an organization’s most valuable asset – <strong>PEOPLE</strong>.<p>
          <p>At Whitebridge, we help new &amp; existing businesses develop structures that are individually applicable yet fit international best practices.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="padded">
          <img src="assets/images/employee-placement.svg" alt="">
          <h4>Recruitment &amp; Placement Services</h4>
          <p>An organization is only as good as the personnel working therein; therefore the quality of personnel working in an organization determines its output &amp; achievements. Knowing this, Whitebridge ensures that round pegs are put in round holes in every of its recruitment engagement. Recruitment refers to the process of attracting, screening, selecting, placement &amp; on-boarding a qualified person for a job.</p>

          <p>With proper job analysis &amp; specification, we are sure to give to an organization only the best people to work for them &amp; at competitive industry remuneration. We are aware that if we get it right at the recruitment level, every other function of human resources will run smoothly. It was Maurice McDonald, a co-founder of McDonald Corporation who dropped this timeless business fact, <em>“you are only as good as the people you hire”</em>. Let’s make you good with the right people.</p>
        </div><!-- /.col-md-6 -->
      </div> 
      <div class="col-md-12">
        <div class="padded">
          <img src="assets/images/corporate-learning.svg" alt="">
          <h4 style="text-align: center">Corporate Learning &amp; Development</h4>
          <div class="row">
            <div class="col-md-6">
              <p>The practice of Human Resource is constantly evolving in line with trends &amp; organizational demands. Hence, the function hitherto known as Training is now mostly referred to as Training &amp; Development, &amp; of recent, Learning &amp; Development. This is because human resource practitioners don’t just seek to train employees but to ensure they learn &amp; develop in line with their job functions or challenges.</p>
              <p>As a Human Resource consulting firm, we will be rendering the service of learning &amp; development to our client with the sole objective of adding value to their bottom line. We have respectable &amp; experienced resource persons that are made up of seasoned professionals to deliver well-articulated learning &amp; development demands in a most friendly &amp; relaxed environment using modern &amp; adequate facilities.</p> 
            </div>
            <div class="col-md-6">
              <p>At Whitebridge, we do not  just jump into Learning &amp; Development contract with a client, we will be sure to conduct a Learning &amp; Development Need Analysis to ensure vacuums are identified which our Learning &amp; Development  process will fill so as to be able to measure the Learning &amp; Development impact on employees &amp; organizations overtime.</p>
            </div>
          </div>
          
        </div>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="padded">
          <img src="assets/images/man-power.svg" alt="">
          <h4>Manpower Planning &amp; Auditing</h4>
          <p>Failing to plan is planning to fail.  As simple as that sounds, it applies to every facet of life. So any organization that does not plan its manpower is on a faulty foundation. Manpower Audit is a function that seeks to point out loopholes in practices &amp; policies of HR &amp; recommend suggestions for improvement. Whitebridge Consulting renders the Manpower Planning function to start-ups &amp; established organizations, &amp; renders the Manpower Audit service to large scale &amp; public sector organizations. We realize the fact that an organization is only as effective as its workforce &amp; as such, we will plan the manpower towards greater output for clients without compromising standards. </p>
        </div>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="padded">
          <img src="assets/images/employee-performance.svg" alt="">
          <h4>Employee Performance Management</h4>
          <p>Every organization has its set goals &amp; objectives which they expect their employees to assist in meeting. Often times, these goals are not met &amp; the organization may want to know the reason(s). Hence, Performance Management is a human resource function that seeks to continually appraise, monitor &amp; improve employee’s performance in line with organizational goals. The needs for uninfluenced &amp; unbiased opinion/report are some of the reasons why strategic firms outsource this function.</p>

          <p>In undertaking this function, our focus is always on improved productivity &amp; increased profitability with the aid of improved performance by employees. The growth of an organization depends largely on the efficiency of its employees.</p>
        </div>
      </div><!-- /.col-md-6 --> 
        
    </div><!-- /.row -->
  </div>
</section>


<div class="upper-footer">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
          <h4>Whitebridge Consulting</h4>
          <hr>
          <p>Whitebridge Global Consulting Ltd is duly registered to undertake the functions of Human Resource Consulting. </p>
        </div>
        <div class="col-sm-2 col-md-offset-2">
          <h4>About</h4>
          <ul>
            <li><a href="#/about-us" title="">About Us</a></li>
            <li><a href="#/about-us" title="">Our Team</a></li>
            <li><a href="#/our-services" title="">Our Services</a></li>
            <li><a href="#" title="">Company Blog</a></li>
            <li><a href="#" title="">Careers</a></li>
          </ul>
        </div>  
        <div class="col-sm-3">
          <h4>Contact</h4>
          <ul>
            <li><a href="#" title="">Sign Up for a Job alert</a></li>
            <li><a href="mailto:info@whitebridgeconsult.com" title="">info@whitebridgeconsult.com</a></li>
            <li><a href="mailto:recruitment@whitebridgeconsult.com" title="">recruitment@whitebridgeconsult.com</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h4>Let's Relate</h4>
          <a href="https://www.facebook.com/whiteBridgeconsulting" title=""><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://twitter.com/bridgingHR" title=""><i class="fa fa-twitter  fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/whitebridge-consulting-6b7653b7" title=""><i class="fa fa-linkedin  fa-2x"></i></a>
        </div>          
      </div><!-- End of row --> 
  </div><!-- End of container -->
</div><!-- End of upper-footer -->
<div class="bottom-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>Copyright &copy; 2016. Whitebridge Consulting </p>
      </div>        
    </div> 
  </div>
</div>