<div class="featurette-slider">
    <ul>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h2 class="heading">Learning &amp; Development</h2>
              <p class="lead">The practice of human resource is constantly evolving in line with trends and organizational demands. Hence, the function hitherto known as Training is now referred to as <a href="#">Learning &amp; Development (L&D)</a></p>
              <button class="btn brand-btn-success btn-lg" type="button">Learn More</button>
            </div>
            <div class="col-xs-12 col-md-5">
              <img src="http://www.links-portage.com/documents/content/LinksPortageCorpo.jpg" alt="" class="img-fluid center-block" width="400px">
            </div>
          </div>
        </div> 

      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h2 class="heading">Employee Performance Management</h2>
              <p class="lead">Whitebridge Consulting seeks to bridge the manpower supply, efficiency and knowledge gaps in organizations with a view to helping organizations achieve set goals and objectives. Whitebridge specialises on Human Resource consulting which involves helping organisations attract, acquire, develop and retain qualified workforce in the right balance at all times.</p>
              <button class="btn brand-btn-success btn-lg" type="button">Learn More</button>
            </div>
            <div class="col-xs-12 col-md-5">
              <img src="http://www.links-portage.com/documents/content/LinksPortageCorpo.jpg" alt="" class="img-fluid center-block" width="400px">
            </div>
          </div>
        </div>    
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h2 class="heading">Recruitment &amp; Outsourcing</h2>
              <p class="lead"> The whole aims and objectives of organizations are anchored on working with the right and motivated employees. Come on board, let's develop your people and grow your organization together.</p>
            <button class="btn brand-btn-success btn-lg" type="button">Learn More</button>
            </div>
            <div class="col-xs-12 col-md-5">
              <img src="http://www.links-portage.com/documents/content/LinksPortageCorpo.jpg" alt="" class="img-fluid center-block" width="400px">
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>