<div class="featurette-slider">
    <ul>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="padded">
                <h2 class="heading">Corporate Learning &amp; Development</h2>
                <p class="lead">The practice of human resource is constantly evolving in line with trends and organizational demands. Hence, the function hitherto known as Training is now referred to as <a href="#">Learning &amp; Development (L&D)</a></p>
                <a class="btn brand-btn-success btn-lg" href="#/our-services">Learn More</a>
              </div>
            </div>
            <div class="col-md-6 hidden-xs">
              <div class="padded-img" style="background-image: url('assets/images/employee-training-progression.jpg');">
                <!-- <img src="assets/images/employee-training-progression.jpg" alt="" class="img-fluid"> -->
              </div>
            </div>
          </div>
        </div> 

      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="padded">
                <h2 class="heading">Employee Performance Management</h2>
                <p class="lead">At Whitebridge , we appraise, monitor and improve employee’s performance in line with  organizational goals. Our professional and results-oriented reports are some of the reasons why our services are sought after by organizations today.</p>
                <a class="btn brand-btn-success btn-lg" href="#/our-services">Learn More</a>
              </div>
            </div>
            <div class="col-md-6 hidden-xs">
              <div class="padded-img" style="background-image: url('assets/images/performance-management.jpg');">
                <!-- <img src="assets/images/performance-management.jpg" alt="" class="img-fluid"> -->
              </div>
            </div>
          </div>
        </div>    
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="padded">
                <h2 class="heading">Recruitment &amp; Outsourcing</h2>
                <p class="lead"> An organization is only as good as her people and this translates to the quality of it’s outputs and achievements. As such, we’re in the business of identifying and recruiting competent professionals that will drive the success of your organization.</p>
                <a class="btn brand-btn-success btn-lg" href="#/our-services">Learn More</a>
              </div>
            </div>
            <div class="col-md-6 hidden-xs">
              <div class="padded-img" style="background-image: url('assets/images/recruitment.jpg');">
                <!-- <img src="assets/images/recruitment.jpg" alt="" class="img-fluid"> -->
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>