<div class="landing-wrap">
  <div class="container-fluid">
    <header class="custom-nav">
      <a class="brand" href="#">
        <img src="../assets/images/whitebridge-logo.svg" alt="">
        Whitebridge Consulting
      </a>
      <ul class="nav-links pull-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </header>

    <div class="row">
      <div class="landing-content col-xs-12 col-md-6">
        <h1>Be in demand</h1>
        <p>Acquire the skills you need to get your career to the next level. <br>At Whitebridge we build professionals from ground up. <br>Your journey begins here... </p>
        <button type="button" class="btn btn-lg btn-warning">learn More</button>
      </div>
    </div>

  </div>
</div><!-- End of landing wrap -->


<section class="featurette-block section-1">
  <div class="container-fuid">
    <div class="row">
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200"> -->
        <h2>Who we are</h2>
        <p>We are a consulting firm that seeks to bridge the manpower supply, efficiency &amp; knowledge gaps in organizations with a view to helping organizations achieve set goals &amp; objectives.</p>
        <p><a class="btn btn-success" href="#" role="button">Learn more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200"> -->
        <h2>What we do</h2>
        <p>We specialize on Human Resource consulting which involves helping organisations attract, acquire, develop &amp; retain qualified workforce in the right balance at all times. </p>
        <p><a class="btn btn-success" href="#" role="button">Learn more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200"> -->
        <h2>Why Us</h2>
        <p>We deliver on our promise of excellence through Human Resource Restructuring, Corporate Learning &amp; Development, Manpower Planning &amp; Audit; Recruitment &amp; Outsourcing.</p>
        <p><a class="btn btn-success" href="#" role="button">Learn more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</section>


<section class="featurette-block section-2">
  <div class="alpha-overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="heading">Learning &amp; Development</h2>
        <p class="lead">The practice of human resource is constantly evolving in line with trends and organizational demands. Hence, the function hitherto known as Training is now referred to as <a href="#">Learning &amp; Development (L&D)</a></p>
        <button class="btn btn-success btn-lg" type="button">Learn More</button>
      </div>
    </div>
  </div>
</section>



<!-- <div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div> -->
  </div>

</div>
