<div class="landing-wrap">
  <div class="container-fluid">
    <header class="custom-nav">
      <a class="brand" href="#">
        <img src="../assets/images/whitebridge-logo.svg" alt="">
        Whitebridge Consulting
      </a>
      <ul class="nav-links pull-right">
        <li class="nav-item active">
          <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/our-services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </header>

    <div class="row">
      <div class="landing-content col-xs-12 col-md-6">
        <h1>Be in demand</h1>
        <p>Acquire the skills you need to get your career to the next level. <br>At Whitebridge we build professionals from ground up. <br>Your journey begins here... </p>
        <button type="button" class="btn btn-lg brand-btn-neg">learn More</button>
      </div>
    </div>

  </div>
</div><!-- End of landing wrap -->


<section class="featurette-block section-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>Who we are</h2>
        <p>We are a consulting firm that seeks to bridge the manpower supply, efficiency &amp; knowledge gaps in organizations with a view to helping organizations achieve set goals &amp; objectives.</p>
        <p><a class="btn brand-btn-success btn-lg" href="#" role="button">Learn more </a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>What we do</h2>
        <p>We specialize on Human Resource consulting which involves helping organisations attract, acquire, develop &amp; retain qualified workforce in the right balance at all times. </p>
        <p><a class="btn brand-btn-success btn-lg" href="#" role="button">Learn more </a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Why Us</h2>
        <p>We deliver on our promise of excellence through Human Resource Restructuring, Corporate Learning &amp; Development, Manpower Planning &amp; Audit; Recruitment &amp; Outsourcing.</p>
        <p><a class="btn brand-btn-success btn-lg" href="#" role="button">Learn more </a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</section>


<section class="featurette-block section-2">
  <div class="alpha-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="heading">Learning &amp; Development</h2>
        <p class="lead">The practice of human resource is constantly evolving in line with trends and organizational demands. Hence, the function hitherto known as Training is now referred to as <a href="#">Learning &amp; Development (L&D)</a></p>
        <button class="btn brand-btn-neg btn-lg" type="button">Learn More</button>
      </div>
    </div>
  </div>
</section>


<div content-slider></div>

<section class="featurette-block section-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
          <div class="widget panel">
            <div class="panel-body">
              <h4 class="widget-title mb0">Recent Posts</h4>
            </div>
        
            <ul class="list-group">
              <li class="list-group-item">
                <p class="nm">Lorem ipsum dolor sit amet, consectetur <a href="javascript:void(0);">#adipisicing</a> elit, sed do eiusmod.</p>
                <small class="text-muted">1 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="javascript:void(0);">@officia</a> deserunt mollit anim id est laborum.</p>
                <small class="text-muted">2 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Duis aute irure dolor in <a href="javascript:void(0);">tweet.er</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <small class="text-muted">3 day ago</small>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="widget panel">
            <div class="panel-body">
              <h4 class="widget-title mb0">Latest Jobs</h4>
            </div>
        
            <ul class="list-group">
              <li class="list-group-item">
                <p class="nm">Lorem ipsum dolor sit amet, consectetur <a href="javascript:void(0);">#adipisicing</a> elit, sed do eiusmod.</p>
                <small class="text-muted">1 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="javascript:void(0);">@officia</a> deserunt mollit anim id est laborum.</p>
                <small class="text-muted">2 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Duis aute irure dolor in <a href="javascript:void(0);">tweet.er</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <small class="text-muted">3 day ago</small>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="widget panel">
            <div class="panel-body">
              <h4 class="widget-title mb0">Upcoming Events</h4>
            </div>
        
            <ul class="list-group">
              <li class="list-group-item">
                <p class="nm">Lorem ipsum dolor sit amet, consectetur <a href="javascript:void(0);">#adipisicing</a> elit, sed do eiusmod.</p>
                <small class="text-muted">1 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="javascript:void(0);">@officia</a> deserunt mollit anim id est laborum.</p>
                <small class="text-muted">2 day ago</small>
              </li>
              <li class="list-group-item">
                <p class="nm">Duis aute irure dolor in <a href="javascript:void(0);">tweet.er</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <small class="text-muted">3 day ago</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="upper-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4>Whitebridge Consulting</h4>
            <hr>
            <p>Whitebridge Global Consulting Ltd is duly registered to undertake the functions of Human Resource Consulting. </p>
          </div>
          <div class="col-sm-2 col-md-offset-2">
            <h4>About</h4>
            <ul>
              <li><a href="#" title="">About Us</a></li>
              <li><a href="#" title="">Our Team</a></li>
              <li><a href="#" title="">Our Services</a></li>
              <li><a href="#" title="">Customer Stories</a></li>
              <li><a href="#" title="">Company Blog</a></li>
              <li><a href="#" title="">Help Center</a></li>
              <li><a href="#" title="">Feedback</a></li>
              <li><a href="#" title="">Careers</a></li>
            </ul>
          </div>  
          <div class="col-sm-2">
            <h4>Contact</h4>
            <ul>
              <li><a href="#" title="">Sign Up for a Job alert</a></li>
              <li><a href="mailto:info@corporatecraft.com" title="">info@corporatecraft.com</a></li>
              <li><a href="mailto:hr@corporatecraft.com" title="">hr@corporatecraft.com</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h4>Let's Relate</h4>
            <p>Social Media stuff to be output here</p>
          </div>          
        </div><!-- End of row --> 
      </div><!-- End of container -->
    </div><!-- End of upper-footer -->
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Copyright &copy; 2016. Whitebridge Consulting </p>
          </div>        
        </div> 
      </div>
    </div>


<!-- <div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div> -->
