/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "bower_components/modular-scale/stylesheets/modular-scale";
@import "bower_components/unslider/dist/css/unslider";
@import "bower_components/unslider/dist/css/unslider-dots";


// Set Modular Scale Ratio
//$ms-ratio: $fourth  !default;



// Colors

$black: #000000;
$white: #ffffff;

// Brand Colors
$brand-color1: #0A243F; //#002164; //#233645;
$brand-color2: #345065;
$brand-color3: #ABCDCF;
$brand-color4: #DEE0D2;
$brand-color5: #DC4E00;
$brand-color6: #ffbf00;



// Mixins
@mixin rectangle($width, $height, $color) {
  width: $width;
  height: $height;
  background: $color;
}

@mixin parallelogram($width, $height, $skew, $color) {
  @include rectangle($width, $height, $color);
  transform: skew($skew);
}

// Slider buttons
.unslider-nav ol li {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid rgba($black, 0.5) !important;
}
.unslider-nav ol li.unslider-active {
  background: $black !important;
}


//
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html, body{
  font-size: 18px !important;
  font-family: 'latoregular';
  //line-height: 24px;
  color: $brand-color1;
  & a{
    color: $brand-color1;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
