<div class="upper-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h4>Whitebridge Consulting</h4>
        <hr>
        <p>Whitebridge Global Consulting Ltd is duly registered to undertake the functions of Human Resource Consulting. </p>
      </div>
      <div class="col-md-2 col-md-offset-2 hidden-xs">
        <h4>About</h4>
        <ul>
          <li><a href="#/about-us" title="">About Us</a></li>
          <li><a href="#/about-us" title="">Our Team</a></li>
          <li><a href="#/our-services" title="">Our Services</a></li>
          <li><a href="#" title="">Company Blog</a></li>
          <li><a href="#" title="">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-3 hidden-xs">
        <h4>Contact</h4>
        <ul>
          <li><a href="#" title="">Sign Up for a Job alert</a></li>
          <li><a href="mailto:info@whitebridgeconsult.com" title="">info@whitebridgeconsult.com</a></li>
          <li><a href="mailto:recruitment@whitebridgeconsult.com" title="">recruitment@whitebridgeconsult.com</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 social">
        <h4>Let's Relate</h4>
        <a href="https://www.facebook.com/whiteBridgeconsulting" title=""><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://twitter.com/bridgingHR" title=""><i class="fa fa-twitter  fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/whitebridge-consulting-6b7653b7" title=""><i class="fa fa-linkedin  fa-2x"></i></a>
      </div>
    </div><!-- End of row -->
  </div><!-- End of container -->
</div><!-- End of upper-footer -->
<div class="bottom-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="pull-left">Copyright &copy; 2016. Whitebridge Consulting </p>
        <!-- <p class="pull-right">Designed by <a href="http://www.radiant-oak.com" title="">Radiant Oak</a></p> -->
      </div>
    </div>
  </div>
</div>