<div class="upper-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h4>Whitebridge Consulting</h4>
        <hr>
        <p>Whitebridge Global Consulting Ltd is duly registered to undertake the functions of Human Resource Consulting. </p>
      </div>
      <div class="col-md-2 col-md-offset-1 hidden-xs">
        <h4>About</h4>
        <ul>
          <li><a ui-sref="about" title="">About Us</a></li>
          <li><a ui-sref="about" title="">Our Team</a></li>
          <li><a ui-sref="services" title="">Our Services</a></li>
          <li><a href="http://www.whitebridgeconsultng.com/blog" title="Whitebridge Consulting Blog">Company Blog</a></li>
          <li><a ui-sref="jobs" title="">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-3 hidden-xs">
        <h4>Contact</h4>
        <ul>
          <li><a ui-sref="jobs" title="">Sign Up for a Job alert</a></li>
          <li><a href="mailto:info@whitebridgeconsultng.com" title="">info@whitebridgeconsultng.com</a></li>
          <li><a href="mailto:recruitment@whitebridgeconsultng.com" title="">recruitment@whitebridgeconsultng.com</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 social">
        <h4>Let's Relate</h4>
        <a href="https://www.facebook.com/whiteBridgeconsulting" title=""><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://twitter.com/bridgingHR" title=""><i class="fa fa-twitter  fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/whitebridge-consulting-6b7653b7" title=""><i class="fa fa-linkedin  fa-2x"></i></a>
      </div>
    </div><!-- End of row -->
  </div><!-- End of container -->
</div><!-- End of upper-footer -->
<div class="bottom-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright">Copyright &copy; 2016. Whitebridge Consulting </p>
        <p class="">Designed by <a href="http://www.radiantoakng.com" title="Radiant Oak Ltd." target="_blank">Radiant Oak</a></p>
      </div>
    </div>
  </div>
</div>